.card {
  display: flex;
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  height: auto;
}

.card:hover {
  transform: scale(1.03);
}

.card-content {
  flex: 7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.card-tools {
  margin-bottom: 20px;
}

.tool {
  background-color: #444;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 5px;
}

.card-links {
  display: flex;
  gap: 10px;
}

.view-project,
.open-live-site {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #333;
  transition: background-color 0.3s;
}

.view-project:hover,
.open-live-site:hover {
  background-color: #555;
}

.card-image {
  flex: 3;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #333;
  margin: 2rem;
  border-radius: 5%;
  cursor: pointer;
}

.card-image img {
  max-width: 100%;
  min-height: 200px;
  object-fit: cover;
  border-radius: 5%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  max-width: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  z-index: 1010;
}

.modal-close:hover {
  background: #333;
}
