.footer {
  width: 100vw;
  height: 4rem;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: clamp(0.6rem, 2vw, 0.8rem); /* Responsif font-size */
  margin-top: 2rem;
  text-align: center;
}
